<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/Restaurant-List">
        <h4 class="mb-2">Look for the restaurants：</h4>
        <div class="input-group">
          <input
            type="text"
            name="search"
            class="form-control"
            placeholder="Enter name / category of the restaurant"
            aria-label="Restaurant Name..."
            value="{{keyword}}"
            aria-describedby="search-button"
          />
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i
                class="fas fa-search"
              ></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div style="text-align: center; margin-top: 20px;">
  <a
    href="/Restaurant-List/new"
    class="btn btn-primary"
    style="font-size: 16px; padding: 8px 16px; text-decoration: none;"
  >Add a New Restaurant</a>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3">
        {{#each restaurants as |restaurant|}}
          <div class="col mb-4">
            <a href="/Restaurant-List/{{restaurant.id}}" class="text-secondary">
              <div class="card mb-3">
                <img
                  class="card-img-top"
                  src="{{restaurant.image}}"
                  alt="{{restaurant.name}}"
                />
                <div class="card-body p-3">
                  <h6 class="card-title mb-1">{{restaurant.name}}</h6>

                  <div class="restaurant-category mb-1">
                    <i class="fas fa-utensils pr-2"></i>
                    {{restaurant.category}}
                  </div>
                  <span class="badge rounded-pill bg-danger font-weight-normal">
                    {{restaurant.rating}}
                    <i class="fas fa-star fa-xs"></i>
                  </span>
                </div>
              </div>
            </a>
            <div class="text-right">
              <a
                href="/Restaurant-List/{{restaurant.id}}/edit"
                class="btn btn-outline-primary btn-sm me-2"
              >Edit</a>
              <a
                href="/Restaurant-List/{{restaurant.id}}"
                class="btn btn-outline-primary btn-sm me-2"
              >Detail</a>
              <form
                action="/Restaurant-List/{{restaurant.id}}?_method=DELETE"
                method="POST"
                style="display: inline;"
              >
                <button
                  type="submit"
                  class="btn btn-outline-danger btn-sm"
                  onclick="return confirmDelete();"
                >Delete</button>
              </form>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
{{! 避免誤按 delete 設定，當使用者按 delete 時，會跳出確認視窗 }}
<script>
  function confirmDelete() {
    return confirm("Are you sure you want to delete this restaurant?");
  }
</script>
